
.event__board{
    display: flex;
    justify-content: center;
    outline: 2px solid teal;
}
.item{
    display: block;
    width: 90px;
    height: 90px;
    outline: 1px solid red;
}
.event__board{
    outline: 2px solid teal;
}